{% extends 'base.html' %}

{% block content %}
  <h1 class="page-title">My Habits</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'habit_create' %}" class="btn btn-new-habit">+ New Habit</a>
  {% endif %}
  <ul class="habit-list">
    {% for habit in habits %}
      <li class="habit-item">
        <a href="{% url 'habit_details' habit.id %}" class="habit-link">{{ habit.name }}</a>
        {% if habit.is_completed %}
          <span class="habit-status completed">Habit Done!</span>
        {% else %}
          <span class="not-completed">Not completed</span>
        {% endif %}
        <p class="habit-created">Added: {{ habit.created_date }}</p>
      </li>
    {% empty %}
      <li class="no-habits">No habits yet to show!</li>
    {% endfor %}
  </ul>
{% endblock %}
