{% extends 'base.html' %}

{% block content %}
<h1 class="h-title">Hello {{ user.username }}!</h1>
<h3>Your Tasks</h3> <a class="small-btn" href="{% url 'task_create' %}">Create</a>
<ul class="task-list">
  {% for task in tasks %}
  <li>
    <a href="{% url 'task_details' task.id %}">{{ task.title }}</a>
    <br>
    <small class="task-desc">{{ task.description }}</small>
  </br>
    {% if task.is_completed %}
    <span class="completed"> Completed</span>
    {% else %}
    <span class="not-completed"> Not Completed</span>
    {% endif %}
  </li>
  {% empty %}
  <li>No tasks yet <a href="{% url 'task_create' %}">Create Task</a></li>
  {% endfor %}
</ul>

<h3>Your Habits</h3> <a class="small-btn" href="{% url 'habit_create' %}">Create</a>
<ul class="habit-list">
  {% for habit in habits %}
  <li>
    <a href="{% url 'habit_details' habit.id %}">{{ habit.name }}</a>
    <br>
    <small class="habit-desc">{{ habit.description }}</small>
  </br>
    {% if habit.is_completed %}
    <span class="completed"> Completed</span>
    {% else %}
    <span class="not-completed"> Not Completed</span>
    {% endif %}
  </li>
  {% empty %}
  <li>No habits yet <a href="{% url 'habit_create' %}">add a habit</a></li>
  {% endfor %}
</ul>
{% endblock %}
