{% extends 'base.html' %}

{% block content %}
  <h1 class="tasks-title">My Tasks</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'task_create' %}" class="task-btn">+ New Task</a>
  {% endif %}

  <ul class="tasks-list">
    {% for task in tasks %}
      <li class="task-item">
        <a href="{% url 'task_details' task.id %}" class="task-link">{{ task.title }}</a>
        {% if task.is_completed %}
          <span class="task-status completed">Task Done!</span>
        {% else %}
          <span class="task-status not-completed">Not completed</span>
        {% endif %}
        <p class="task-priority">
      Priority:
          <span class="priority-label priority-{{ task.priority }}">
        {{ task.get_priority_display }}
    </span>
</p>
<p class="task-created">Created: {{ task.created_date }}</p>

      </li>
    {% empty %}
      <li class="no-tasks">No tasks yet!</li>
    {% endfor %}
  </ul>
{% endblock %}

